
body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header,.footer{
    background-color: rgb(149, 161, 150);
    justify-items: center;
    padding: 10px;
    text-align: center;
}
.header{
    text-align: start;
    font-size: 148px;
    padding: 100px;
    border-style:none ;
    border-top: none;
    border-left: none;
    border-right: none;
    max-height: 100px;
    position: relative;
    color: rgb(48, 53, 49);
}
.main{
    flex: 1;
    padding: 20px;
    background-color: rgb(195, 199, 196);
    box-shadow: inset;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
}
.addBookPromptButton{
    background-color: rgb(109, 121, 112);
    padding: 40px;
    border-radius: 15px;
    border-style: hidden;
    width: 80%;
    transition: 0.3s;
    font-size: 40px;
    color: rgb(178, 184, 179);
    max-height: 200px;
}
.addBookPromptButton:hover{
    background-color: rgb(221, 221, 221);
}
.readBtn{
    background-color: rgb(135, 180, 135);
    color: rgb(0, 0, 0);
    border-style: none;
}
.notRead{
    background-color: rgb(206, 192, 149);
    color: rgb(0, 0, 0);
    border-style: none;
}
.readBtn,.notRead,.cardRemoveBtn{
    border-radius: 8px;
    border-style: none;
    transition: 1.3s;
}
.cardRemoveBtn{
    background-color: rgb(190, 190, 190);
}
.cardRemoveBtn:hover{
    background-color: rgb(202, 122, 122);
    transition: .05s;
}
#bookPrompt {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 30%;
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 20px;
    background-color: rgb(224, 224, 224);
    border-style: double;
    border-color: black;
    z-index: 2;
}
.promptContainer{
    display: flex;
    height: 100%;
    width: 100%;
    overflow:;
    align-content: center;
}
input{
    font-size: 18px;
    display: flex;
    padding: 10px;
}
form{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 18px;
    padding: 10px;
    justify-content: center;
    justify-content: space-evenly;
    overflow: hidden;
    overflow-wrap: normal;
    height: 100%;
    overflow-y: visible;
}
#closePrompt{
    display: flex;
    align-self: start;
    size: 10px;
}
.formTitle{
    text-align: center;
}
#bookReadStatus{
    width: 30px;
    height: 30px;
}
.submitBtn{
    display: flex;
    justify-content: center;
    width: 100%;
}
.main{
    display: flex;
    gap: 30px;
    
}
.card{
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 229, 229);
    height:min-content;
    width: 10%;
    padding: 30px;
    border-radius: 4%;
    text-align: center;
    justify-content: space-evenly;
    overflow: hidden;
    gap: 8px;
}
.inputError{
    border-color: red;
}
.readBtn, .cardRemoveBtn{
    font-size: large;
    padding: 20px;
}
.buttonContainer{
    background-color: rgb(195, 199, 196);
    display: flex;
    justify-content: center;
    padding: 30px;
}
#backgroundPrompt{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    position: fixed;
}
.bookImg{
    width: 100px;
    height: 100px;
}
@media screen and (max-width:1250px){
    .header{
        font-size:60px;
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 80%;
        height: fit-content;

    }
    #bookPrompt{
        height: 70%;
        width: 70%;
    }
    #backgroundPrompt{
        height:;
    }
    body{   overflow:initial;}
    .header{
        padding: 20px;
    }
    .bookImg{
        width: 40px;
        height: 40px;
    }
}