body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header,.footer{
    background-color: rgb(149, 161, 150);
    justify-items: center;
    padding: 10px;
    text-align: center;
}
.header{
    padding: 100px;
}
.main{
flex: 1;
padding: 20px;
background-color: rgb(195, 199, 196);
}